body{
  padding-bottom: 200px;
}

#addButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px;
    border: none;
    border-radius: 50%;
    background-color: #e51400;
    color: white;
    font-weight: bold;
}
